<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<!-- Pro komunikaci Integration.AsyncProcessingWcfService s DB -->
		<add name="ISOR_IAP_Entities" connectionString="metadata=res://*/IAP_Model.csdl|res://*/IAP_Model.ssdl|res://*/IAP_Model.msl;provider=Devart.Data.Oracle;provider connection string=&quot;User Id=IAP;Password=ISOR;Server=DEVDEV;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>

	<appSettings>
		<!-- konfigurace asynchronních volání ZAČÁTEK -->
		<add key="IAP_WorkingThreadSleep" value="1000"/>
		<add key="IAP_AllowedOperationCodes" value="ESS_CRM_UA"/>
		<add key="AsyncProcessingLogPath" value="c:\_ISOR\isor-0-DEV\_LOG\"/>
		<add key="Common_IsorWcfServices_LogFilePath" value="c:\_ISOR\isor-0-DEV\_LOG\ASYNC_LOG.log"/>
		<add key="ISOR_TIF_LogFile" value="c:\_ISOR\isor-0-DEV\_TIF\ISOR_TIF.log"/>
		<add key="TIFServicesConfiguration_ESS" value="c:\_ISOR\isor-0-DEV\_TIF\TIFServices.config.xml" />
		<!-- konfigurace asynchronních volání KKONEC -->
	</appSettings>

	<system.data>
		<DbProviderFactories>
			<add name="dotConnect for Oracle" invariant="Devart.Data.Oracle" description="Devart dotConnect for Oracle" type="Devart.Data.Oracle.OracleProviderFactory, Devart.Data.Oracle, Version=6.0.70.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
		</DbProviderFactories>
	</system.data>

	<system.webServer>
		<handlers>
			<!--
Tuto sekci je nutno přidat do web.config souboru, poběží-li "naše" WCF služba/y (v tuto chvíli (11.5.2011) kompilovaná pro FW 3.5) na IIS, který nemá v konfiguraci handlery pro *.svc soubory pro verzi FW 2.0
Musí též souhlasit nastavení pro Application Pool
s 
kompilačními nastaveními assembly služby
					ASSEMBLY                            |    APPLICATION POOL
 - Target framework                           | .NET Framework version
 - Platform target (32 vs. 64 bit)            | Enable 32-bit Application (pouze pro 64 bit stroje a pokud bude assembly kompilovaná pro 32 bit systém)
a
handlery ve web.config souboru:
pro classic mód
			<add name="svc-ISAPI-2.0" path="*.svc" verb="*" modules="IsapiModule" scriptProcessor="%Windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness32" />
			<add name="svc-ISAPI-2.0-64" path="*.svc" verb="*" modules="IsapiModule" scriptProcessor="%Windir%\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness64" />
pro integrated mód
			<add name="svc-Integrated-3.0" path="*.svc" verb="*" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>

nebo přímo v konfiguraci IIS, viz:
http://msdn.microsoft.com/en-us/library/ms752252.aspx,
případně http://support.microsoft.com/kb/2019689

-->
			<!-- společná sekce handlerů pro *.svc soubory, verze FW 2.0,  pipeline mód integrated i classic (viz atribut preCondition) ZAČÁTEK -->
			<add name="svc-ISAPI-2.0" path="*.svc" verb="*" modules="IsapiModule" scriptProcessor="%Windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
			<add name="svc-ISAPI-2.0-64" path="*.svc" verb="*" modules="IsapiModule" scriptProcessor="%Windir%\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness64"/>
			<add name="svc-Integrated-3.0" path="*.svc" verb="*" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode"/>
			<!-- společná sekce handlerů pro *.svc soubory, verze FW 2.0,  pipeline mód integrated i classic KONEC -->
		</handlers>
	</system.webServer>
	<system.serviceModel>
		<services>
			<service behaviorConfiguration="RB.Isor.Integration.AsyncProcessingWcfLibrary.AsyncProcessingServiceBehavior" name="RB.Isor.Integration.AsyncProcessingWcfLibrary.AsyncProcessingService">
				<endpoint address="" binding="wsHttpBinding" contract="RB.Isor.Integration.AsyncProcessingWcfLibrary.IAsyncProcessingService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="RB.Isor.Integration.AsyncProcessingWcfLibrary.AsyncProcessingServiceBehavior">
					<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<!-- CLIENTS BEGIN -->
		<bindings>
			<wsHttpBinding>
<!-- client pro (ESS)ICoreService  -->
				<binding name="WSHttpBinding_ICoreService" closeTimeout="00:01:00"
						openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
						bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
						maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
						messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
						allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
							maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00"
							enabled="false" />
					<security mode="Message">
						<transport clientCredentialType="Windows" proxyCredentialType="None"
								realm="" />
						<message clientCredentialType="Windows" negotiateServiceCredential="true"
								algorithmSuite="Default" />
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<client>
<!-- client pro (ESS)ICoreService  -->
			<endpoint address="http://isor4-test:8110/WcfCoreService/CoreService.svc"
					binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICoreService"
					contract="ESSIntegration.ICoreService" name="WSHttpBinding_ICoreService">
				<identity>
					<dns value="localhost"/>
				</identity>
			</endpoint>
		</client>
		<!-- CLIENTS END -->
	</system.serviceModel>
	<system.web>
		<customErrors mode="Off"/>
		<compilation debug="true" targetFramework="4.6.2"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>

</configuration>
