<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <microsoft.web.services3>
    <messaging>
      <mtom clientMode="On" />
    </messaging>
  </microsoft.web.services3>
  <connectionStrings>
    <add name="ESSRCB" providerName="ORACLE" connectionString="Data Source=DEVDEV;User ID=ESSRCB;Password=ISOR" />
    <add name="WF" providerName="ORACLE" connectionString="Data Source=DEVDEV;User ID=WORKFLOW;Password=ISOR" />
    <add name="ISOR_KZ" providerName="ORACLE" connectionString="Data Source=DEVDEV;User ID=KARTAZAJ_APU;Password=ISOR;Max Pool Size=15" />
    <add name="ISOR_DP_Entities" connectionString="metadata=res://RB.Isor.DealPipeline.DAL/DP_Model.csdl|res://RB.Isor.DealPipeline.DAL/DP_Model.ssdl|res://RB.Isor.DealPipeline.DAL/DP_Model.msl;provider=Devart.Data.Oracle;provider connection string=&quot;User Id=DEALPIPELINE_APU;Password=ISOR;Server=DEVDEV;Unicode=True;Persist Security Info=True;Max Pool Size=15;&quot;" providerName="System.Data.EntityClient" />
    <add name="SubjectDirectory.ConnectionString" connectionString="Data Source=DEVDEV;User ID=SUBJECTDIRECTORY_APU;Password=ISOR" providerName="Oracle.DataAccess.Client" />
    <add name="SubjectGroup.ConnectionString" connectionString="data source=DEVDEV;user id=LM;password=ISOR" />
  </connectionStrings>
  <appSettings>
    <add key="ServiceInstanceName" value="ISOR FolderActionService DEV" />
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
    <add key="WinServiceDelay" value="1" />
    <add key="EDLSemaphorStateUrl" value="http://isor4-test:8110/EDLWebService/EDLSemaphorState.ashx" />
    <add key="ISOR_URL" value="http://isor4-test:8110/ISRFrame/" />
    <add key="Common_SubjectDirectory_WebService_Url" value="http://isor4-test:8110/WsSubjectDirectoryRB/SubjectDirectoryService.asmx" />
    <add key="Common_SubjectDirectory_WebService_Username" value="ESS" />
    <add key="Common_SubjectDirectory_WebService_Password" value="x" />
    <add key="Common_SubjectGroup_WebService_Url" value="http://isor4-test:8110/WsSubjectGroupService/SubjectGroupService.asmx" />
    <add key="Common_SubjectGroup_WebService_Username" value="ESS" />
    <add key="Common_SubjectGroup_WebService_Password" value="x" />
    <add key="UserWebServiceUrl" value="http://isor4-test:8110/WsEmployeeService/EmployeeDirectoryWebService.asmx" />
    <add key="WebServicesTimeout" value="10000000" />
    <add key="ErrorSendTo" value="jan.blaha2@cleverlance.com" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" culture="neutral" publicKeyToken="89b483f429c47342" />
        <bindingRedirect oldVersion="0.0.0.0-9.2.0.2102" newVersion="2.122.19.1" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="office" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.4.5.99" newVersion="5.4.5.99" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ICoreService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IAsyncProcessingService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://isor4-test:8110/WcfCoreService/CoreService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICoreService" contract="ESSIntegration.ICoreService" name="WSHttpBinding_ICoreService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://isor4-test:8110/WcfAsyncProcessingService/AsyncProcessingService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAsyncProcessingService" contract="AsyncProcessing.IAsyncProcessingService" name="WSHttpBinding_IAsyncProcessingService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>