<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RB.Isor.Common.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Common.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
    <applicationSettings>
        <RB.Isor.Common.Services.Properties.Settings>
            <setting name="Common_Services_InfoKlientService_WS4ISORService"
                serializeAs="String">
                <value>http://localhost/WS4ISORBean/WS4ISORBean.asmx</value>
            </setting>
            <setting name="RB_Isor_Common_Services_FileStoreService_FileStoreService"
                serializeAs="String">
                <value>http://isorwebt-pha02.rb.cz/FileStore/WS/FileStoreService.asmx</value>
            </setting>
            <setting name="Frame_UserService_EmployeeDirectoryWebService"
                serializeAs="String">
                <value>http://isor4-test:8210/WsEmployeeService/EmployeeDirectoryWebService.asmx</value>
            </setting>
            <setting name="RB_Isor_Common_Services_SubjectDirectoryService_SubjectDirectoryService"
                serializeAs="String">
                <value>http://isor2-test:8210/WsSubjectDirectoryService/SubjectDirectoryService.asmx</value>
            </setting>
            <setting name="RB_Isor_Common_Services_SubjectGroupService_SubjectGroupService"
                serializeAs="String">
                <value>http://isor4-test:8110/WsSubjectGroupService/SubjectGroupService.asmx</value>
            </setting>
        </RB.Isor.Common.Services.Properties.Settings>
        <Common.Services.Properties.Settings>
            <setting name="Common_Services_SubjectDirectoryService_SubjectDirectoryService" serializeAs="String">
                <value>http://localhost/SubjectDirectory/SubjectDirectoryService.asmx</value>
            </setting>
            <setting name="Common_Services_InfoKlientService_WS4ISORService" serializeAs="String">
                <value>http://localhost/WS4ISORBean/WS4ISORBean.asmx</value>
            </setting>
        </Common.Services.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
