<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

	<microsoft.web.services3>
		<messaging>
			<mtom clientMode="On"/>
		</messaging>
	</microsoft.web.services3>

	<system.data>
		<DbProviderFactories>
			<remove invariant="Devart.Data.Oracle"/>
			<add name="dotConnect for Oracle" invariant="Devart.Data.Oracle" description="Devart dotConnect for Oracle" type="Devart.Data.Oracle.OracleProviderFactory, Devart.Data.Oracle, Version=9.6.558.0, Culture=neutral, PublicKeyToken=09af7300eec23701"/>
		</DbProviderFactories>
	</system.data>

	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="Devart.Data.Oracle" type="Devart.Data.Oracle.Entity.OracleEntityProviderServices, Devart.Data.Oracle.Entity.EF6, Version=9.6.558.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
		</providers>
	</entityFramework>

  <connectionStrings>
    <add name="ESSRCB" providerName="ORACLE" connectionString="Data Source=DEVDEV;User ID=ESSRCB;Password=ISOR" />
    <add name="LM" providerName="ORACLE" connectionString="Data Source=DEVDEV;User ID=LM;Password=ISOR" />
    <add name="EDL" connectionString="metadata=res://*/EdlModel.csdl|res://*/EdlModel.ssdl|res://*/EdlModel.msl;provider=Devart.Data.Oracle;provider connection string=&quot;User Id=EDL_APU;Password=ISOR;Server=DEVDEV;Persist Security Info=True;Max Pool Size=15;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>
    <add key="ServiceInstanceName" value="ISOR EDLFactoryService DEVDEV" />
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
    <add key="WinServiceDelay" value="1" />
    <add key="EDLSemaphorStateUrl" value="http://isor4-test:8110/EDLWebService/EDLSemaphorState.ashx" />
    <add key="Common_SubjectGroup_WebService_Url" value="http://isor4-test:8110/WsSubjectGroupService/SubjectGroupService.asmx"/>
    <add key="Common_SubjectGroup_WebService_Username" value="ESS"/>
    <add key="Common_SubjectGroup_WebService_Password" value="x"/>
    <add key="WebServicesTimeout" value="10000000"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.2.0.2102" newVersion="9.2.0.2102" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="office" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>