<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
		<sectionGroup name="registers">
			<section name="frequency" type="RB.Isor.Common.Bll.RegisterConfiguration, RB.Isor.Common.Bll"/>
			<section name="weekOfTheMonth" type="RB.Isor.Common.Bll.RegisterConfiguration, RB.Isor.Common.Bll"/>
		</sectionGroup>
		<section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		<sectionGroup name="devExpress">
			<section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v11.1, Version=11.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v11.1, Version=11.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v11.1, Version=11.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v11.1, Version=11.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
		</sectionGroup>
		<section name="transactionHandlingSettings" type="Framework.Transactions.TransactionHandlingSettingsHandler, Framework"/>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

	</configSections>

	<log4net>
		<appender name="SubjectDirectoryAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="c:\isor\_LOGS\4SubjectDirectory.log"/>
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="1MB" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d [%t] %-5p %c %m [%property{User} %property{Host} %property{Url}]%n"/>
			</layout>
		</appender>
		<appender name="SubjectGroupAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="c:\isor\_LOGS\4SubjectGroup.log"/>
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="1MB" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
			</layout>
		</appender>
		<appender name="MailAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="c:\isor\_LOGS\4Mail.log"/>
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="1MB" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
			</layout>
		</appender>
		<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="c:\isor\_LOGS\4WebApp.log"/>
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="1MB" />
			<layout type="log4net.Layout.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c
[USER: %property{User}] 
[IP: %property{Host}] 
[URL: %property{Url}] 
%m
----------------------------------------------------%n"/>
			</layout>
			<filter type="log4net.Filter.LoggerMatchFilter">
				<loggerToMatch value="RB.Isor.Common.Services.SubjectDirectory"/>
				<acceptOnMatch value="false"/>
			</filter>
			<filter type="log4net.Filter.LoggerMatchFilter">
				<loggerToMatch value="RB.Isor.Common.Services.SubjectGroup"/>
				<acceptOnMatch value="false"/>
				<levelMin value="DEBUG" />
				<levelMax value="FATAL" />
			</filter>
			<filter type="log4net.Filter.LoggerMatchFilter">
				<loggerToMatch value="RB.Isor.Common.Services.Mail"/>
				<acceptOnMatch value="false"/>
			</filter>
		</appender>
		<appender name="PapertrailRemoteSyslogAppender" type="log4net.Appender.RemoteSyslogAppender">
			<facility value="Local6"/>
			<identity value="%date{yyyy-MM-ddTHH:mm:ss.ffffffzzz} %P{log4net:HostName} IsorLocalDev"/>
			<layout type="log4net.Layout.PatternLayout" value="%level - %message%newline"/>
			<remoteAddress value="logs3.papertrailapp.com"/>
			<remotePort value="47071"/>
		</appender>
		<appender name="DealPipelineLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="c:\isor\_LOGS\DealPipeline.log"/>
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
			</layout>
		</appender>
		<appender name="WizardPerformanceAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="c:\isor\_LOGS\WizardPerformance.log"/>
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="1000" />
			<maximumFileSize value="3MB" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d [%t] %-5p %property{Url} [%property{User}] %class %m%n"/>
			</layout>
		</appender>
		<appender name="AccountingPerformanceAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="c:\isor\_LOGS\AccountingPerformance.log"/>
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="1000" />
			<maximumFileSize value="3MB" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d [%t] %-5p %property{Url} [%property{User}] %class %m%n"/>
			</layout>
		</appender>
		<appender name="AuthUserLogInAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="c:\isor\_LOGS\AuthUserLogIn.log"/>
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="1000" />
			<maximumFileSize value="3MB" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d [%t] %-5p %property{Url} [%property{User}] %class %m%n"/>
			</layout>
		</appender>
		<appender name="CBL_CommunicationAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="c:\isor\_LOGS\CBL_CommunicationLog.log"/>
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="1000" />
			<maximumFileSize value="3MB" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d [%t] %-10p %c %class %m%n"/>
			</layout>
		</appender>
		<appender name="RFBDataExportAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="c:\isor\_LOGS\RFBDataExport.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="1000" />
			<maximumFileSize value="3MB" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d [%t] %-10p %c %class %m%n"/>
			</layout>
		</appender>
		<appender name="IsrFejksAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="c:\isor\_LOGS\4IsrFejks.log"/>
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="1MB" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
			</layout>
		</appender>

		<root>
			<level value="All"/>
			<appender-ref ref="LogFileAppender"/>
		</root>
	
		<logger name="RB.Isor.Common.Services.SubjectDirectory" additivity="false">
			<level value="INFO"/>
			<appender-ref ref="SubjectDirectoryAppender"/>
		</logger>
		<logger name="RB.Isor.Common.Services.SubjectGroup" additivity="false">
			<level value="INFO" />
			<appender-ref ref="SubjectGroupAppender"/>
		</logger>
		<logger name="RB.Isor.Common.Services.Mail" additivity="false">
			<level value="INFO" />
			<appender-ref ref="MailAppender"/>
		</logger>
		<logger name="DealPipelineLogger" additivity="false">
			<level value="ALL"/>
			<appender-ref ref="DealPipelineLogFileAppender"/>
		</logger>
		<logger name="WizardPerformance" additivity="false">
			<level value="ALL"/>
			<appender-ref ref="WizardPerformanceAppender"/>
		</logger>
		<logger name="AccountingPerformance" additivity="false">
			<level value="ALL"/>
			<appender-ref ref="AccountingPerformanceAppender"/>
		</logger>
		<logger name="AuthUserLogIn" additivity="false">
			<level value="ALL"/>
			<appender-ref ref="AuthUserLogInAppender"/>
		</logger>
		<logger name="CBL_Communication" additivity="false">
			<level value="ALL"/>
			<appender-ref ref="CBL_CommunicationAppender"/>
		</logger>
		<logger name="RFBDataExport" additivity="false">
			<level value="ALL"/>
			<appender-ref ref="RFBDataExportAppender"/>
		</logger>
		<logger name="IsrFejks" additivity="false">
			<level value="ALL"/>
			<appender-ref ref="IsrFejksAppender"/>
		</logger>

	</log4net>
	
	<registers>
		<frequency>
			<codes>
				<add code="B"/>
				<add code="D"/>
				<add code="W"/>
				<add code="F"/>
				<add code="M"/>
				<add code="Q"/>
				<add code="S"/>
				<add code="Y"/>
			</codes>
		</frequency>
		<weekOfTheMonth>
			<codes>
				<add code="1"/>
				<add code="2"/>
				<add code="3"/>
				<add code="4"/>
				<add code="M"/>
				<add code="L"/>
			</codes>
		</weekOfTheMonth>
	</registers>
	<microsoft.web.services3>
		<messaging>
			<mtom clientMode="On"/>
		</messaging>
	</microsoft.web.services3>

	<devExpress>
		<settings rightToLeft="false"/>
		<compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="false"/>
		<themes enableThemesAssembly="true"/>
		<errors callbackErrorRedirectUrl=""/>
	</devExpress>

	<transactionHandlingSettings xmlns="Framework.Transactions">
		<transactionHandler name="HomeGrown" handlerType="Framework.TransactionHandling.HomeGrownTransactionHandler, Framework"/>
	</transactionHandlingSettings>

	<system.data>
		<DbProviderFactories>
			<remove invariant="Devart.Data.Oracle"/>
			<add name="dotConnect for Oracle" invariant="Devart.Data.Oracle" description="Devart dotConnect for Oracle" type="Devart.Data.Oracle.OracleProviderFactory, Devart.Data.Oracle, Version=8.5.464.0, Culture=neutral, PublicKeyToken=09af7300eec23701"/>
		</DbProviderFactories>
	</system.data>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="Devart.Data.Oracle" type="Devart.Data.Oracle.Entity.OracleEntityProviderServices, Devart.Data.Oracle.Entity.EF6, Version=9.6.558.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
		</providers>
	</entityFramework>

	<connectionStrings>

		<add name="ESSRCB" providerName="ORACLE" connectionString="Data Source=DEVDEV;User ID=ESSRCB;Password=ISOR;Max Pool Size=15"/>
		<add name="ISOR_COV" providerName="ORACLE" connectionString="Data Source=DEVDEV;User ID=ISOR_COVENANTS_APU;Password=ISOR;Max Pool Size=15"/>
		<add name="ISOR_ODM"  providerName="ORACLE" connectionString="Data Source=DEVDEV;User ID=ODM_APU;Password=ISOR;Unicode=True;Max Pool Size=15"/>
		<add name="WF" providerName="Oracle" connectionString="Data Source=DEVDEV;Persist Security Info=True;User ID=WORKFLOW;Password=ISOR;Unicode=True;Max Pool Size=15"/>
		<add name="ISOR_KZ" providerName="ORACLE" connectionString="Data Source=DEVDEV;User ID=KARTAZAJ_APU;Password=ISOR;Max Pool Size=15" />
		<add name="ISOR_DP_Entities" providerName="System.Data.EntityClient" connectionString="metadata=res://RB.Isor.DealPipeline.DAL/DP_Model.csdl|res://RB.Isor.DealPipeline.DAL/DP_Model.ssdl|res://RB.Isor.DealPipeline.DAL/DP_Model.msl;provider=Devart.Data.Oracle;provider connection string=&quot;User Id=DEALPIPELINE_APU;Password=ISOR;Server=DEVDEV;Unicode=True;Persist Security Info=True;Max Pool Size=15;&quot;" />
		<add name="ISOR_CM" connectionString="metadata=res://*/CMModel.csdl|res://*/CMModel.ssdl|res://*/CMModel.msl;provider=Devart.Data.Oracle;provider connection string=&quot;User Id=ODM_APU;Password=ISOR;Server=DEVDEV;Persist Security Info=True;Max Pool Size=15;&quot;" providerName="System.Data.EntityClient" />
		<add name="RegistersModelConnectionString" connectionString="metadata=res://*/RegistersModel.csdl|res://*/RegistersModel.ssdl|res://*/RegistersModel.msl;provider=Devart.Data.Oracle;provider connection string=&quot;User Id=ODM_APU;Password=ISOR;Server=DEVDEV;Persist Security Info=True;Max Pool Size=15;&quot;" providerName="System.Data.EntityClient" />
		<add name="ISOR_CT_Entities" connectionString="metadata=res://*/CreditToolModel.csdl|res://*/CreditToolModel.ssdl|res://*/CreditToolModel.msl;provider=Devart.Data.Oracle;provider connection string=&quot;User Id=CT_APU;Password=ISOR;Server=DEVDEV;Persist Security Info=True;Unicode=True;Max Pool Size=15;&quot;" providerName="System.Data.EntityClient" />
		<add name="DotaznikyModelConnectionString" connectionString="metadata=res://*/DotaznikyModel.csdl|res://*/DotaznikyModel.ssdl|res://*/DotaznikyModel.msl;provider=Devart.Data.Oracle;provider connection string=&quot;User Id=DOTAZNIKY_APU;Password=ISOR;Server=DEVDEV;Persist Security Info=True;Unicode=True;Max Pool Size=15;&quot;" providerName="System.Data.EntityClient" />
		<add name="ISOR_CA" connectionString="metadata=res://*/CA.csdl|res://*/CA.ssdl|res://*/CA.msl;provider=Devart.Data.Oracle;provider connection string=&quot;User Id=CREDITANALYSIS_APU;Password=ISOR;Server=DEVDEV;Persist Security Info=True;Max Pool Size=15;&quot;" providerName="System.Data.EntityClient" />
		<add name="SubjectDirectory.ConnectionString" connectionString="Data Source=DEVDEV;User ID=SUBJECTDIRECTORY_APU;Password=ISOR" providerName="Oracle.DataAccess.Client"/>
		<add name="SubjectGroup.ConnectionString" connectionString="data source=DEVDEV;user id=LM;password=ISOR"/>
		<add name="TIFQueue.ConnectionString" connectionString="data source=DEVDEV;user id=LM;password=ISOR"/>
		<add name="ISORDM" providerName="ORACLE" connectionString="Data Source=DEVDEV;User ID=ISORDM_APU;Password=ISOR;Max Pool Size=15"/>
    <add name="ISOR_EDL" connectionString="metadata=res://*/EdlModel.csdl|res://*/EdlModel.ssdl|res://*/EdlModel.msl;provider=Devart.Data.Oracle;provider connection string=&quot;User Id=EDL_APU;Password=ISOR;Server=DEVDEV;Persist Security Info=True;Max Pool Size=15;&quot;" providerName="System.Data.EntityClient" />


     <!--<add name="ESSRCB" providerName="ORACLE" connectionString="Data Source=TESTDEV;User ID=ESSRCB;Password=ISOR;Max Pool Size=15"/>
   <add name="ISOR_COV" providerName="ORACLE" connectionString="Data Source=TESTDEV;User ID=COVENANTS_APU;Password=ISOR;Max Pool Size=15" />
   <add name="ISOR_ODM" providerName="ORACLE" connectionString="Data Source=TESTDEV;User ID=ODM_APU;Password=ISOR;Max Pool Size=15" />
   <add name="WF" providerName="ORACLE" connectionString="Data Source=TESTDEV;User ID=WORKFLOW;Password=ISOR;Max Pool Size=15;Persist Security Info=True;Unicode=True"/>
   <add name="ISOR_KZ" providerName="ORACLE" connectionString="Data Source=TESTDEV;User ID=KARTAZAJ_APU;Password=ISOR;Max Pool Size=15" />
   <add name="ISOR_DP_Entities" connectionString="metadata=res://RB.Isor.DealPipeline.DAL/DP_Model.csdl%7Cres://RB.Isor.DealPipeline.DAL/DP_Model.ssdl%7Cres://RB.Isor.DealPipeline.DAL/DP_Model.msl;provider=Devart.Data.Oracle;provider connection string=&quot;User Id=DEALPIPELINE_APU;Password=ISOR;Server=TESTDEV;Unicode=True;Persist Security Info=True;Max Pool Size=15;&quot;" providerName="System.Data.EntityClient" />
   <add name="ISOR_CM" connectionString="metadata=res://*/CMModel.csdl|res://*/CMModel.ssdl|res://*/CMModel.msl;provider=Devart.Data.Oracle;provider connection string=&quot;User Id=ODM_APU;Password=ISOR;Server=TESTDEV;Persist Security Info=True;Max Pool Size=15;&quot;" providerName="System.Data.EntityClient" />
   <add name="RegistersModelConnectionString" connectionString="metadata=res://*/RegistersModel.csdl|res://*/RegistersModel.ssdl|res://*/RegistersModel.msl;provider=Devart.Data.Oracle;provider connection string=&quot;User Id=ODM_APU;Password=ISOR;Server=TESTDEV;Persist Security Info=True;Max Pool Size=15;&quot;" providerName="System.Data.EntityClient" />
   <add name="ISOR_CT_Entities" connectionString="metadata=res://*/CreditToolModel.csdl|res://*/CreditToolModel.ssdl|res://*/CreditToolModel.msl;provider=Devart.Data.Oracle;provider connection string=&quot;User Id=CT_APU;Password=ISOR;Server=TESTDEV;Persist Security Info=True;Unicode=True;Max Pool Size=15;&quot;" providerName="System.Data.EntityClient" />
   <add name="DotaznikyModelConnectionString" connectionString="metadata=res://*/DotaznikyModel.csdl|res://*/DotaznikyModel.ssdl|res://*/DotaznikyModel.msl;provider=Devart.Data.Oracle;provider connection string=&quot;User Id=DOTAZNIKY_APU;Password=ISOR;Server=TESTDEV;Persist Security Info=True;Unicode=True;Max Pool Size=15;&quot;" providerName="System.Data.EntityClient" />
   <add name="ISOR_CA" connectionString="metadata=res://*/CA.csdl|res://*/CA.ssdl|res://*/CA.msl;provider=Devart.Data.Oracle;provider connection string=&quot;User Id=CREDITANALYSIS_APU;Password=ISOR;Server=TESTDEV;Persist Security Info=True;Max Pool Size=15;&quot;" providerName="System.Data.EntityClient" />
   <add name="SubjectDirectory.ConnectionString" providerName="Oracle.DataAccess.Client" connectionString="Data Source=TESTDEV;User ID=SUBJECTDIRECTORY_APU;Password=ISOR"/>
   <add name="SubjectGroup.ConnectionString" connectionString="data source=TESTDEV; user id=LM;password=ISOR"/>
   <add name="TIFQueue.ConnectionString" connectionString="data source=TESTDEV;user id=LM;password=ISOR"/>
   <add name="ISORDM" providerName="ORACLE" connectionString="Data Source=TESTDEV;User ID=ISORDM_APU;Password=ISOR;Max Pool Size=15"/>
   <add name="ISOR_EDL" connectionString="metadata=res://*/EdlModel.csdl|res://*/EdlModel.ssdl|res://*/EdlModel.msl;provider=Devart.Data.Oracle;provider connection string=&quot;User Id=EDL_APU;Password=ISOR;Server=TESTDEV;Persist Security Info=True;Max Pool Size=15;&quot;" providerName="System.Data.EntityClient" />-->


	</connectionStrings>

	<appSettings>
		<add key="ISOR_Version" value="branch_ISOR_LC_vyvoj"/>
		<add key="Placement" value="CLV_DEV"/>

		<!-- ISOR obecně -->
		<add key="Common_Mail_MaintenanceMessageFrom" value="administrator.isor@isor4_0dev.cz"/>
		<add key="MaintenanceSubject" value="Údržba aplikace ISOR (prostředí 0 DEV)"/>
		<add key="CustomErrors" value="off" />
		<add key="RawDocStoragePathType" value="RELATIVE"/>
		<add key="RawDocStoragePath" value="../../documents/"/>
		<add key="CondReportAll" value="ALL"/>
		<add key="TermsAndConditionsPerformanceLogging" value="0"/>
		<add key="DbSegmentLength" value="3000"/>
		<add key="ShowIdentForm" value="1"/>
		<add key="LoggingPerformance" value="1"/>
		<add key="Common_IsorWcfServices_LogFilePath" value="c:\isor\_LOGS\ISOR_WCFservices.log "/>

		<!-- Bank Address -->
		<add key="Bank_Name" value="Raiffeisenbank a.s."></add>
		<add key="Bank_Street" value="Hvězdova 1716/2b"></add>
		<add key="Zip_Code" value="140 78"/>
		<add key="Town" value="Praha 4"/>
		<add key="Identification" value="IČO 49240901"/>

		<!-- externí služby -->
		<add key="Common_SubjectDirectory_WebService_Url" value="http://isor4-test:8110/WsSubjectDirectoryRB/SubjectDirectoryService.asmx"/>
		<add key="Common_SubjectDirectory_WebService_Username" value="ESS"/>
		<add key="Common_SubjectDirectory_WebService_Password" value="x"/>
		<add key="Common_SubjectGroup_WebService_Url" value="http://isor4-test:8110/WsSubjectGroupService/SubjectGroupService.asmx"/>
		<add key="Common_SubjectGroup_WebService_Username" value="ESS"/>
		<add key="Common_SubjectGroup_WebService_Password" value="x"/>
		<!--<add key="UserWebServiceUrl" value="http://isor4-test:8110/WsEmployeeService/EmployeeDirectoryWebService.asmx"/>-->
		<add key="UserWebServiceUrl" value="http://isor4-test:8110/WsEmployeeServiceRB/EmployeeDirectoryService.asmx"/>
		<add key="Common_FileStore_WebService_Url" value="http://isor4-test:8110/WsFileStoreService2/FileStoreService.asmx"/> 
		<add key="Common_FileStore_WebService_Username" value="ESS"/>
		<add key="Common_FileStore_WebService_Password" value="x"/>
		<add key="WebServicesTimeout" value="10000000"/>
		<!--<add key="LMWebServiceUrl" value="http://isor-test/lmservice/LMService.asmx"/>
		<add key="IKWebServiceUrl" value="http://isor-test/ikservice/IKService.asmx"/>
		<add key="JournalWebServiceUrl" value="http://isor-test/changesjournal/changesjournal.asmx"/>-->
		<add key="WS_IK_UserName" value="isrisk"/>
		<add key="WS_IK_Password" value="2dsf1as9g7jk4ds"/>
		<add key="EsskWSUrl" value="http://isor4-test:8110/WsEsskService/Essk.asmx"/>

		<!-- CBL -->
		<!--<add key="CBL_WSAddress" value="http://localhost:61427/CBLService.asmx"/>-->
		<add key="CBL_WSAddress" value="http://isor4-test:8110/CblMockService/CBLService.asmx"/>
		<add key="CBL_AppID" value="34567654-5676-6543-2345-123434567879"/>
		<add key="CBL_ReasonID" value="1234567890"/>
		<add key="CBL_ContractID" value="1234567890"/>
		<add key="CBL_RequestTypeID" value="25353565-7689-5435-1233-142565657896"/>
		<add key="CRU_RequestTypeID" value="3DC6462A-CB96-4F85-A7BF-786142D06D94"/>
		<add key="CBL_Subject_RequestTypeID" value="5d03d01c-796b-404e-89d3-c287a950f8ae"/>
		<add key="CBL_UserName" value="1234567890"/>
		<add key="CBL_UserPass" value="1234567890"/>
		<add key="CBL_CheckInterval" value="1h"/>
		<add key="CBL_CheckCycles" value="5"/>
		<add key="CBL_RequestUrl" value="https://cblapp3.rb.cz/CBL_Batch_test/ShowXML.aspx?RequestId={0}"/>

		<!-- šablony -->
		<add key="Xslt_Templates_Directory" value="~/WordTemplates"/>
		<add key="ODM_XSLT_FIN" value="~/app/CerpaciModul/xslt/fin-new.xslt"/>
		<add key="ODM_XSLT_CIN" value="~/app/CerpaciModul/xslt/cin-new.xslt"/>
		<add key="ODM_XSLT_DDN" value="~/app/CerpaciModul/xslt/ddn-new.xslt"/>
		<add key="ODM_XSLT_PARTICIPATION" value="~/app/CerpaciModul/xslt/part.xslt"/>
		<add key="OpenXmlTemporaryDirectory" value="d:\_ISOR_solutions\ISOR_Original\SourceCodes\branch_ISOR_LC_vyvoj\LibOpenXML\temporary\"/>
		<add key="OpenXmlTemplateDirectory" value="d:\_ISOR_solutions\ISOR_Original\SourceCodes\branch_ISOR_LC_vyvoj\LibOpenXML\templates\"/>
		<add key="iTextSharplTemplateDirectory" value="c:\_ISOR\isor-2-UAT\web\ISOR\ISRFrame\WordTemplates\"/>
		
		<!-- ESS -->
		<add key="MinOwnershipPortion" value="5"/>
		<add key="SPPILink" value="https://www.youtube.com/user/NBCBlacklist"/>
		<add key="EwsServerUrl" value="http://isor4-test:8110/Ews"/>

		<!-- RCB -->
		<add key="LimitGuarantorValidity" value="15"/>
		<add key="IdUserAutomatRCB" value="1000163"/>
		<add key="RCBKlientWSUrl" value="http://isor4-test:8110/ISRFrame/ThickClientDataProvider.asmx"/>
		<add key="DCadCes_Url"  value="http://mrm-l.rb.cz/dcad-ces/clients/"/>
		<add key="DCadMces_Url"  value="http://mrm-l.rb.cz/dcad-mces/clients/"/>

		<!-- MS -->
		<add key="SendDmWizardMailAddress" value="createrequest@clv.com"/>
		<add key="SendDmWizardCreateRequest" value="true"/>
		<add key="BIUCountNotificationMailTo" value="treasury.products@clv.com"/>

		<!-- ODM -->
		<add key="ODM_PDF_FOLDER" value="c:\isor\_LOGS"/>
		<add key="ODM_BMT_FORCE_PASSED" value="0" />

		<!-- CA -->
		<add key="CA_PDF_FOLDER" value="c:\isor\_LOGS"/>

		<!-- EDL -->
		<add key="EDLSemaphorStateUrl" value="http://isor4-test:8110/EDLWebService/EDLSemaphorState.ashx"/>

		<!-- KZ -->
		<add key="KZ_Nemovitost_PerformSaveLimit" value="15"/>
		<add key="KZ_EditaceNCV" value="N" />

		<!-- DealPipeline -->
		<add key="DealPipeLine_Mode" value="2"/>

		<!-- CreditTool -->
		<add key="CreditTool_AdresarSablon" value="c:\isor\_LOGS"/>
		<add key="CreditTool_TemporaryDirectoryPath" value="c:\isor\_LOGS"/>
		<add key="CreditTool_XSLT_KvalitativniOtazky" value="~/app/CreditTool/xslt/QualitativeQuestions.xslt"/>
		<add key="CreditTool_ExcelTepmlatePassword" value="Calc12_"/>
		<!--DEBUG CreditTool DEBUG-->
		<add key="CreditTool_PersistTemporaryFiles" value="1"/>
		<add key="CreditTool_PersistPregradingTemporaryFiles" value="1"/>
		<add key="CreditTool_EnableLogging" value="0"/>
		<add key="CreditTool_Logging_LimitKalkulackaImport_FilePath" value="c:\isor\_LOGS\LimitKalkulackaImport.log"/>
		<add key="CreditTool_EnableProfiling" value="1"/>
		<add key="CreditTool_Logging_Profiler_FilePath" value="c:\isor\_LOGS\CT_ZakladniInformace.log"/>
		
		<!--Dotazníky-->  
		<add key="WarningExclamation" value="..\images\cs-cz\i_warn.gif"/>
		<add key="WarningWarning" value="..\images\cs-cz\i_warnyellow.gif"/>

		<!-- konfigurace služeb pro TIF -->
		<add key="SALEM_Config" value="c:/_TIF/isor-dev-1/config.xml"/>
		<add key="SALEM_Mode" value="1"/>
		<add key="TIFServicesConfiguration_RCB" value="c:\isor\_TIF\RCB\TIFServices.config.xml"/>
		<add key="TIFServicesConfiguration_ODM" value="c:\isor\_TIF\ESS\TIFServices.config.xml"/>
		<add key="TIFServicesConfiguration_ESS" value="c:\isor\_TIF\ESS\TIFServices.config.xml"/>
		<add key="TIFServicesConfiguration_MS" value="c:\isor\_TIF\MS\TIFServices.config.xml"/>
		<add key="TIFServicesConfiguration_DMS" value="c:\isor\_TIF\DMS\TIFServices.config.xml"/>
		<add key="TIFTestEnvironment" value="true"/>
		<add key="ISOR_TIF_LogFile" value="c:\isor\_TIF\ESS\logs\ISOR_TIFCongfiguration.log"/>

		<!-- DMS -->
		<add key="DMS_DocumentVersion_Url" value="http://10.2.0.239:9081/taskspace?appname=TaskSpace_RbDms&amp;documentId={0}&amp;versionNumber={1}&amp;assignedRoles=ts_branch_employee"/>
		<add key="DMS_SFTP_Server" value="isor4-db"/>
		<add key="DMS_SFTP_Port" value="22"/>
		<add key="DMS_SFTP_Username" value="isorssh"/>
		<add key="DMS_SFTP_Password" value="1$or$$H_"/>
		<add key="DMS_SFTP_Directory" value="/DMS"/>

		<!-- SubjectDirectory -->
		<add key="WorkDBDisconnected" value="false"/>
		<add key="SubjectDirectory.InfoklientService.WS4ISORService.Url" value="https://jlasch-1.rb.cz/WS4ISOR_EAR-WS4ISOR_2_0/WS4ISORBean"/>
		<add key="SubjectDirectory.InfoklientService.WS4ISORService.Username" value="isrisk"/>
		<add key="SubjectDirectory.InfoklientService.WS4ISORService.Password" value="*"/>
		<add key="SubjectDirectory.TIF.ConfigFile" value="d:\_ISOR_solutions\ISOR_Original\SourceCodes\branch_ISOR_LC_vyvoj\SubjectDirectory\Base\conf\ifconfig.xml"/>
		<add key="SubjectDirectory.TIF.Invocation.PartyGetListSearch.System" value="MSL"/>
		<add key="SubjectDirectory.TIF.Invocation.PartyGetListSearch.App" value="CUS_PartyGetListSearch"/>
		<add key="SubjectDirectory.TIF.Invocation.PartyGetListSearch.Version" value="001"/>
		<add key="SubjectDirectory.TIF.Invocation.GetPrivatePartyDetail.System" value="MSL"/>
		<add key="SubjectDirectory.TIF.Invocation.GetPrivatePartyDetail.App" value="CUS_GetPrivatePartyDetail"/>
		<add key="SubjectDirectory.TIF.Invocation.GetPrivatePartyDetail.Version" value="001"/>
		<add key="SubjectDirectory.TIF.Invocation.GetCommercialPartyDetail.System" value="MSL"/>
		<add key="SubjectDirectory.TIF.Invocation.GetCommercialPartyDetail.App" value="CUS_GetCommercialPartyDetail"/>
		<add key="SubjectDirectory.TIF.Invocation.GetCommercialPartyDetail.Version" value="001"/>
		<add key="SubjectDirectory.TIF.Invocation.PartyIdentifierUploadOnline.System" value="MSL"/>
		<add key="SubjectDirectory.TIF.Invocation.PartyIdentifierUploadOnline.App" value="CUS_PartyIdentifierUploadOnline"/>
		<add key="SubjectDirectory.TIF.Invocation.PartyIdentifierUploadOnline.Version" value="001"/>
		<add key="SubjectDirectory.TIF.Invocation.EntPartyGetDetail.System" value="MSL"/>
		<add key="SubjectDirectory.TIF.Invocation.EntPartyGetDetail.App" value="CUS_EntParty-GetDetail_1_5"/>
		<add key="SubjectDirectory.TIF.Invocation.EntPartyGetDetail.Version" value="100"/>

		<!-- SubjectGroup -->
		<add key="SubjectGroup.ModulePath" value="lm/" />
		<add key="SubjectGroup.TIF.ConfigFile" value="c:\Program Files\tif\TCFN\MSL\DEV\conf\ifconfig.xml" />
		<add key="SubjectGroup.TIF.Invocation.PartyRelationUploadOnline.System" value="MSL" />
		<add key="SubjectGroup.TIF.Invocation.PartyRelationUploadOnline.App" value="CUS_PartyRelationUploadOnline" />
		<add key="SubjectGroup.TIF.Invocation.PartyRelationUploadOnline.Version" value="001" />
		<add key="SubjectGroup.TIF.Invocation.PartyGroupUploadOnline.System" value="MSL" />
		<add key="SubjectGroup.TIF.Invocation.PartyGroupUploadOnline.App" value="CUS_PartyGroupUploadOnline" />
		<add key="SubjectGroup.TIF.Invocation.PartyGroupUploadOnline.Version" value="100" />
		<add key="SubjectGroup.SubjectDirectoryService.Url" value="http://isor4-test:8110/WsSubjectDirectoryRB/SubjectDirectoryService.asmx" />
		<add key="SubjectGroup.SubjectDirectoryService.Timeout" value="60000" />
		<add key="SubjectGroup.SubjectDirectoryService.Username" value="ESSK" />
		<add key="SubjectGroup.SubjectDirectoryService.Password" value="x" />
		<add key="SubjectGroup.SubjectDirectoryWebservice.Url" value="http://isor4-test:8110/WsSubjectDirectoryRB/SubjectDirectoryService.asmx" />
		<add key="SubjectGroup.SubjectDirectoryWebservice.Timeout" value="60000" />
		<add key="SubjectGroup.SubjectDirectoryWebservice.Username" value="ESSK" />
		<add key="SubjectGroup.SubjectDirectoryWebservice.Password" value="x" />
		<add key="SubjectGroup.SubjectDirectoryWeb.Import.Url" value="http://localhost/SubjectDirectory/Web/ExternalSubjectList.Siebel.aspx?AppId=ESSK" />

		<!-- ESSK -->
		<add key="ESSK_CreateTask" value="1" />
		<add key="ESSK_CreateTask_DeadlineOffset" value="10" />
		<add key="ESSK_CreateTask_NoticeDays" value="10" />
		<add key="ESSK_CreateTask_WarningDays" value="5" />
		<add key="ESSK_CreateTask_ReportDays" value="0" />
		<add key="ESSK_CreateTask_Link" value="lm/DetailMnozinovehoSubjektu.ascx" />
		<add key="ESSK_CreateTaskRelation_Link" value="lm/DetailZakladnihoSubjektu.ascx" />

		<!-- CLV prostředí -->
		<add key="CondReportAll" value="ALL" />
		<add key="TermsAndConditionsPerformanceLogging" value="1" />
		<add key="XDebugLog" value="0"/>
		<add key="XDebugLogFile" value="c:\isor\_LOGS\xdebug.log"/>
		<add key="KZ_performance_Logging" value="0"/>
		<add key="KZ_performance_LogFilePath" value="c:\isor\_LOGS\KZ_performance.log"/>
		<add key="Vyvoj" value="true"/>
		<add key="ApplicationDebug" value="true"/>

	</appSettings>

	<system.webServer>
		<httpErrors existingResponse="PassThrough" errorMode="Detailed" />
		<asp scriptErrorSentToBrowser="true"/>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="ScriptModule"/>
			<!--<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>-->
			<add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v11.1, Version=11.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"  />
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/>
			<!--<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>-->
			<add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v11.1, Version=11.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" preCondition="integratedMode" />
		</handlers>
		<security>
			<requestFiltering>
				<requestLimits maxQueryString="6000"/>
			</requestFiltering>
		</security>
	</system.webServer>

	<system.web>
		<httpRuntime maxRequestLength="40000" maxQueryStringLength="6000" requestValidationMode="2.0" />
		<customErrors mode="Off"/>
		<compilation defaultLanguage="c#" debug="true" targetFramework="4.6.2">
		</compilation>
		<authentication mode="Windows"/>
		<trace enabled="true" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="false"/>
		<sessionState mode="InProc" cookieless="false" timeout="300"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<xhtmlConformance mode="Transitional"/>
		<pages validateRequest="false" enableEventValidation="false">
			<controls>
				<add tagPrefix="isor" namespace="RB.Isor.Web.UI.Controls" assembly="RB.Isor.Web.UI"/>
			</controls>
		</pages>
		<!--<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v11.1, Version=11.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" validate="false"/>
		</httpHandlers>-->
		<httpModules>
			<add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v11.1, Version=11.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
		</httpModules>
	</system.web>

	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="WSHttpBinding_ICoreService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
					<security mode="Message">
						<transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default"/>
					</security>
				</binding>
				<binding name="WSHttpBinding_IAsyncProcessingService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
					<security mode="Message">
						<transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default"/>
					</security>
				</binding>
			</wsHttpBinding>
			<basicHttpBinding>
					<binding name="ApplicationServiceSoap" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://isor4-test:8110/WcfCoreService/CoreService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICoreService" contract="ESSIntegration.ICoreService" name="WSHttpBinding_ICoreService">
				<identity>
					<dns value="localhost"/>
				</identity>
			</endpoint>
			<endpoint address="http://isor4-test:8110/WcfAsyncProcessingService/AsyncProcessingService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAsyncProcessingService" contract="AsyncProcessing.IAsyncProcessingService" name="WSHttpBinding_IAsyncProcessingService">
				<identity>
					<dns value="localhost"/>
				</identity>
			</endpoint>
			<endpoint address="http://localhost:58893/ApplicationService.asmx"
					binding="basicHttpBinding" bindingConfiguration="ApplicationServiceSoap"
					contract="ApplServiceRef.ApplicationServiceSoap" name="ApplicationServiceSoap" />
		</client>
		</system.serviceModel>

</configuration>
