<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ApplicationServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://isor4-test:8210/ApplicationService/ApplicationService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ApplicationServiceSoap"
                contract="ApplServiceRef.ApplicationServiceSoap" name="ApplicationServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>