<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="microsoft.web.services2" type="Microsoft.Web.Services2.Configuration.WebServicesConfiguration, Microsoft.Web.Services2, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="cz.ctgroup.ISRCorporateWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="RM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="devExpress">
      <section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v11.1, Version=11.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v11.1, Version=11.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v11.1, Version=11.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v11.1, Version=11.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP .NET files.
    -->
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.6.2"/>
    <!--  CUSTOM ERROR MESSAGES
          Set customError mode values to control the display of user-friendly 
          error messages to users instead of error details (including a stack trace):

          "On" Always display custom (friendly) messages  
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
          on the local Web server. This setting is recommended for security purposes, so 
          that you do not display application detail information to remote clients.
    -->
    <customErrors defaultRedirect="pub/GenericError.aspx" mode="RemoteOnly"/>
    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", "Forms", 
          "Passport" and "None"
    -->
    <authentication mode="Windows"/>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="true" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="false"/>
    <!--  SESSION STATE SETTINGS
          By default ASP .NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="InProc" cookieless="false" timeout="300"/>
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
          "utf-8", "iso-8859-2", "windows-1250"
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <webServices>
      <soapExtensionTypes>
        <add type="Microsoft.Web.Services2.WebServicesExtension, Microsoft.Web.Services2, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" priority="1" group="0"/>
      </soapExtensionTypes>
    </webServices>
    <xhtmlConformance mode="Transitional"/>
    <httpHandlers>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v11.1, Version=11.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v11.1, Version=11.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
    </httpModules>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="isor" namespace="RB.Isor.Web.UI.Controls" assembly="RB.Isor.Web.UI" />
      </controls>
    </pages>
  </system.web>
  <connectionStrings>
    <add name="WF" connectionString="Data Source=DBISOR;Persist Security Info=True;User ID=WF;Password=isor;Unicode=True" providerName="Oracle"/>
    <add name="DWH_ISOR" connectionString="Data Source=RB_TEST;Persist Security Info=True;User ID=RB_DWH;Password=rb" providerName="Oracle"/>
  </connectionStrings>
  <applicationSettings>
    <cz.ctgroup.ISRCorporateWeb.Properties.Settings>
      <setting name="ISRCorporateWeb_LMService_LMService" serializeAs="String">
        <value>http://riscvyvoj-pha02/lm_webservice/WS4ESS/LMService.asmx</value>
      </setting>
      <setting name="ISRCorporateWeb_WsDOCX_DocxService" serializeAs="String">
        <value>http://vyvoj.ctgroup.cz/OpenXML/wsOpenXML/DOCX.asmx</value>
      </setting>
      <setting name="ISRCorporateWeb_WsXLSX_XlsxService" serializeAs="String">
        <value>http://vyvoj.ctgroup.cz/OpenXML/wsOpenXML/XLSX.asmx</value>
      </setting>
      <setting name="ISRCorporateWeb_esskws_Essk" serializeAs="String">
        <value>http://10.10.10.27/essk/Essk.asmx</value>
      </setting>
      <setting name="ISRCorporateWeb_SubjectDirectoryService_SubjectDirectoryService" serializeAs="String">
        <value>http://localhost:4566/SubjectDirectoryService.asmx</value>
      </setting>
      <setting name="ISRCorporateWeb_WS4ISOR_WS4ISORService" serializeAs="String">
        <value>http://jlasch-1.rb.cz:8080/WS4ISOR_EAR-WS4ISOR_2_0/WS4ISORBean</value>
      </setting>
      <setting name="ISRCorporateWeb_SubjectGroupService_SubjectGroupService" serializeAs="String">
        <value>http://localhost/ISOR/SubjectGroup/WebService/WS/SubjectGroupService.asmx</value>
      </setting>
      <setting name="ISRCorporateWeb_DealPipelineService_DealPipelineWebService" serializeAs="String">
        <value>http://localhost/DP/DealPipelineWebService.asmx</value>
      </setting>
    </cz.ctgroup.ISRCorporateWeb.Properties.Settings>
    <RM.Properties.Settings>
      <setting name="RM_WS4ISOR_WS4ISORService" serializeAs="String">
        <value>http://localhost/WS4ISORBean/WS4ISORBean.asmx</value>
      </setting>
      <setting name="RM_WebReference_XlsxService" serializeAs="String">
        <value>http://vyvoj.ctgroup.cz/OpenXML/wsOpenXML/XLSX.asmx</value>
      </setting>
    </RM.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <!-- Connect Strings -->
    <add key="ConnString" value="Data Source=DBISOR;User ID=banka;Password=isor;Min Pool Size=0;Max Pool Size=100;Connection Lifetime=600"/>
    <add key="UserName" value="banka"/>
    <add key="Password" value="isor"/>
    <add key="Database" value="DBISOR"/>
    <add key="UserNameRtl" value="banka"/>
    <add key="PasswordRtl" value="isor"/>
    <add key="DatabaseRtl" value="DBISOR"/>
    <add key="UserNameTS" value="banka"/>
    <add key="PasswordTS" value="isor"/>
    <add key="DatabaseTS" value="DBISOR"/>
    <add key="MinPoolSize" value="0"/>
    <add key="MaxPoolSize" value="100"/>
    <add key="ConnectionLifetime" value="600"/>
    <!-- Other Settings -->
    <add key="Vyvoj" value="true"/>
    <add key="ErrorLogPathName" value="c:\_ISOR_Logs\Rcberror.log"/>
    <add key="CustomErrors" value="off"/>
    <add key="RawDocStoragePathType" value="RELATIVE"/>
    <add key="RawDocStoragePath" value="../../documents/"/>
    <add key="SmtpServer" value="10.10.10.33"/>
    <add key="MaintenanceSubject" value="Údržba ISOR"/>
    <add key="MaintenanceMessageFrom" value="administrator.isor@rb.cz"/>
    <add key="ShowIdentForm" value="1"/>
    <add key="ShowResultScoringRefreshTime" value="30"/>
    <add key="LogActions" value="0"/>
    <add key="IdUserAutomatRCB" value="1000163"/>
    <add key="WorkDBDisconnected" value="true"/>
    <add key="SALEM_Config" value="C:/TIF/config.xml"/>
    <add key="SALEM_Mode" value="1"/>
    <add key="SmartInspectUse" value="1"/>
    <add key="SmartInspectLog" value="c:\_ISOR_Logs\isor_log.sil"/>
    <add key="MinOwnershipPortion" value="5"/>
    <add key="Salem_mode" value="1"/>
    <add key="DealPipeLine_mode" value="1"/>
    <add key="LimitGuarantorValidity" value="15"/>
    <!-- Web Services -->
    <add key="WebServicesTimeout" value="10000000"/>
    <add key="LMWebServiceUrl" value="http://isor-test/lmservice/LMService.asmx"/>
    <add key="IKWebServiceUrl" value="http://isor-test/ikservice/IKService.asmx"/>
    <add key="JournalWebServiceUrl" value="http://isor-test/changesjournal/changesjournal.asmx"/>
    <add key="WS_IK_UserName" value="isrisk"/>
    <add key="WS_IK_Password" value="2dsf1as9g7jk4ds"/>
    <add key="UserWebServiceUrl" value="http://isor-test/UserWS/EmployeeDirectoryWebService.asmx"/>
    <add key="CBL_WSAddress" value="http://isor-test/cblservice/cblservice.asmx"/>
    <add key="CBL_AppID" value="34567654-5676-6543-2345-123434567879"/>
    <add key="CBL_ReasonID" value="1234567890"/>
    <add key="CBL_ContractID" value="1234567890"/>
    <add key="CBL_RequestTypeID" value="25353565-7689-5435-1233-142565657896"/>
    <add key="CRU_RequestTypeID" value="3DC6462A-CB96-4F85-A7BF-786142D06D94"/>
    <add key="CBL_UserName" value="1234567890"/>
    <add key="CBL_UserPass" value="1234567890"/>
    <add key="EsskWSUrl" value="http://isor-test/esskservice/Essk.asmx"/>
    <add key="SubjectDirectoryServiceWSUrl" value="http://isor-test/SubjectDirectoryService/SubjectDirectoryService.asmx"/>
    <add key="SubjectDirectoryServiceWSUsername" value="x"/>
    <add key="SubjectDirectoryServiceWSPassword" value="x"/>
    <add key="SubjectDirectoryImportUrl" value="http://localhost/corp/Default.aspx"/>
    <add key="SubjectGroupServiceWSUrl" value="http://isor-test/SubjectGroupService/SubjectGroupService.asmx"/>
    <add key="SubjectGroupServiceWSUsername" value="x"/>
    <add key="SubjectGroupServiceWSPassword" value="x"/>
    <add key="DocxWSUrl" value="http://isor-test/OpenXML/DOCX.asmx"/>
    <add key="CovenantsWSUrl" value="http://isor-test/CovenantsWebService/CovenantsWebService.asmx"/>
    <add key="RCBKlientWSUrl" value="http://localhost/ess/dataprovider/ThickClientDataProvider.asmx"/>
    <add key="DealPipeLineServiceWSUrl" value="http://localhost/DP/DealPipelineWebService.asmx"/>
    <!-- Bank Address -->
    <add key="Bank_Name" value="Raiffeisenbank a.s."/>
    <add key="Bank_Street" value="Hvězdova 1716/2b"/>
    <add key="Zip_Code" value="140 78"/>
    <add key="Town" value="Praha 4"/>
    <add key="Identification" value="IČO 49240901"/>
  </appSettings>
  <system.net>
    <settings>
      <servicePointManager checkCertificateName="false"/>
    </settings>
  </system.net>
  <microsoft.web.services2>
    <diagnostics/>
    <security>
      <x509 allowTestRoot="true" allowRevocationUrlRetrieval="false" verifyTrust="false"/>
    </security>
  </microsoft.web.services2>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="office" publicKeyToken="71e9bce111e9429c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.112.3.0" newVersion="2.112.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v11.1, Version=11.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
    </modules>
  </system.webServer>
  <devExpress>
    <settings rightToLeft="false"/>
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="false"/>
    <themes enableThemesAssembly="true"/>
    <errors callbackErrorRedirectUrl=""/>
  </devExpress>


  <log4net>
    <appender name="CBL_CommunicationAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="c:\isor\_LOGS\CBL_CommunicationLog.log"/>
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="1000" />
      <maximumFileSize value="3MB" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-10p %c %class %m%n"/>
      </layout>
    </appender>

    <logger name="CBL_Communication" additivity="false">
      <level value="ALL"/>
      <appender-ref ref="CBL_CommunicationAppender"/>
    </logger>
  </log4net>



</configuration>