<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="cz.ctgroup.workflow.workflowbase.Properties.Settings.ConnectionString" connectionString="Data Source=NOTEBOOK;Persist Security Info=True;User ID=WORKFLOW;Password=WORKFLOW;Unicode=True" providerName="System.Data.OracleClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
