<?xml version="1.0" encoding="utf-8" ?>
  <log4net>
    <appender name="EDLWebServiceAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="c:\_ISOR\isor-0-DEV\_LOG\EDLWebService.log" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock,log4net" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="1000" />
      <maximumFileSize value="3MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%level %d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <logger name="EDLWebService" additivity="false">
      <level value="ALL" />
      <appender-ref ref="EDLWebServiceAppender" />
    </logger>
  </log4net>
