<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="UAFExportWinService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
		<section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
	</configSections>

	<applicationSettings>
		<UAFExportWinService.Properties.Settings>
			<setting name="UAFExportWinService_SubjectDirectoryService_SubjectDirectoryService" serializeAs="String">
				<value>http://isor4-test:8110/WsSubjectDirectoryService/SubjectDirectoryService.asmx</value>
			</setting>
			<setting name="UAFExportWinService_SubjectGroupService_SubjectGroupService" serializeAs="String">
				<value>http://isor4-test:8110/WsSubjectGroupService/SubjectGroupService.asmx</value>
			</setting>
		</UAFExportWinService.Properties.Settings>
	</applicationSettings>

	<microsoft.web.services3>
		<messaging>
			<mtom clientMode="On" />
		</messaging>
	</microsoft.web.services3>

	<connectionStrings>
		<add name="ESSRCB" providerName="Oracle" connectionString="Data Source=DEVDEV;User ID=ESSRCB;Password=ISOR"/>
		<add name="WF" connectionString="Data Source=DEVDEV;Persist Security Info=True;User ID=WORKFLOW;Password=ISOR;Unicode=True" providerName="Oracle"/>
		<add name="ISOR_KZ" providerName="ORACLE" connectionString="Data Source=DEVDEV;User ID=KARTAZAJ_APU;Password=ISOR;Max Pool Size=30" />
	</connectionStrings>
	
	<appSettings>
		<add key="ServiceInstanceName" value="ISOR UAFExportWinService DEV"/>
		<add key="WinServiceDelay" value="1"/>
		<add key="Logging" value="1"/>
		<add key="LogFilePath" value="c:\_ISOR\isor-0-DEV\_LOG\UAFExportWinService.log"/>
		<add key="Common_SubjectDirectory_WebService_Url" value="http://isor4-test:8110/WsSubjectDirectoryService/SubjectDirectoryService.asmx"/>
		<add key="Common_SubjectDirectory_WebService_Username" value="x"/>
		<add key="Common_SubjectDirectory_WebService_Password" value="x"/>
		<add key="Common_SubjectGroup_WebService_Url" value="http://isor4-test:8110/WsSubjectGroupService/SubjectGroupService.asmx"/>
		<add key="Common_SubjectGroup_WebService_Username" value="ESS"/>
		<add key="Common_SubjectGroup_WebService_Password" value="x"/>
		<add key="UserWebServiceUrl" value="http://isor4-test:8110/WsUserService/EmployeeDirectoryWebService.asmx"/>
		<add key="Common_FileStore_WebService_Url" value="http://isor4-test:8110/WsFileStoreService2/FileStoreService.asmx"/>
		<add key="Common_FileStore_WebService_Username" value="ESS"/>
		<add key="Common_FileStore_WebService_Password" value="x"/>
		<add key="WebServicesTimeout" value="10000000"/>
		<add key="Vyvoj" value="true"/>
		<add key="DeleteTemps" value="1"/>
		<add key="OpenXmlTemporaryDirectory" value="c:\_ISOR\isor-0-DEV\web\ISOR\Temporary\" />
		<add key="OpenXmlTemplateDirectory" value="c:\_ISOR\isor-0-DEV\web\ISOR\ISRFrame\Templates"/>
		<add key="MinOwnershipPortion" value="5"/>
	</appSettings>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="office" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>
