<?xml version="1.0"?>
<configuration>

    <configSections>
      <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>

  <microsoft.web.services3>
    <diagnostics>
      <trace enabled="false" input="inputTrace.log" output="outputTrace.log"/>
      <detailedErrors enabled="true" />
    </diagnostics>
  </microsoft.web.services3>

  <appSettings>

      <add key="Identity.SysId" value="" />
      <add key="Identity.ApplId" value="" />
      <add key="Identity.Description" value="AuthorizedPartyService" />
    <add key="log4net.Internal.Debug" value="true"/>

		<add key="Vyvoj" value="true"/>
		
		<add key="Common_SubjectDirectory_WebService_Url" value="http://isor4-test:8110/WsSubjectDirectoryRB/SubjectDirectoryService.asmx"/>
		<add key="Common_SubjectDirectory_WebService_Username" value="x"/>
		<add key="Common_SubjectDirectory_WebService_Password" value="x"/>
		<add key="WebServicesTimeout" value="60000"/>

		<add key="TIFServicesConfiguration_ODM" value="c:\_ISOR\isor-0-DEV\_TIF\ODM\TIFServices.config.xml" />
		<add key="TIFServicesConfiguration_ESS" value="c:\_ISOR\isor-0-DEV\_TIF\ESS\TIFServices.config.xml" />
		<add key="TIFServicesConfiguration_RCB" value="c:\_ISOR\isor-0-DEV\_TIF\RCB\TIFServices.config.xml" />
		<add key="TIFServicesConfiguration_MS" value="c:\_ISOR\isor-0-DEV\_TIF\MS\TIFServices.config.xml" />
		<add key="TIFServicesConfiguration_DMS" value="c:\_ISOR\isor-0-DEV\_TIF\DMS\TIFServices.config.xml"/>
		<add key="TIFTestEnvironment" value="true" />
		<add key="ISOR_TIF_LogFile" value="c:\_ISOR\isor-0-DEV\_TIF\ISOR_TIFCongfiguration.log"/>
  </appSettings>


    <connectionStrings>
		<add name="ESSRCB" connectionString="Data Source=DEVDEV;User ID=ESSRCB;Password=ISOR;Max Pool Size=5" providerName="Oracle.DataAccess.Client"/>
    </connectionStrings>
    <system.web>
		<customErrors mode="Off"/>


    <compilation debug="true" targetFramework="4.6.2"/>
    <authentication mode="Windows" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    </system.web>
	
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <log4net>
    <appender name="AuthorizedPartyServiceAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="c:\_ISOR\isor-0-DEV\_LOG\ApplicationService.log"/>
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>

    <root>
      <level value="DEBUG"/>
      <appender-ref ref="AuthorizedPartyServiceAppender"/>
    </root>

    <logger name="AuthorizedPartyService" additivity="false">
      <level value="DEBUG"/>
      <appender-ref ref="AuthorizedPartyServiceAppender"/>
    </logger>
  </log4net>
</configuration>