<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="transactionHandlingSettings" type="Framework.Transactions.TransactionHandlingSettingsHandler, Framework"/>
  </configSections>
  <microsoft.web.services3>
    <security>
      <securityTokenManager>
        <add type="SubjectDirectory.WebService.CustomUsernameTokenManager, SubjectDirectory.WebService" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" localName="UsernameToken"/>
      </securityTokenManager>
    </security>
    <policy fileName="wse3policyCache.config"/>
    <diagnostics>
      <trace enabled="false" input="inputTrace.log" output="outputTrace.log"/>
      <detailedErrors enabled="true"/>
    </diagnostics>
  </microsoft.web.services3>
  <appSettings>
    <add key="SubjectDirectory.InfoklientService.WS4ISORService.Url" value="https://jlasch-1.rb.cz/WS4ISOR_EAR-WS4ISOR_2_0/WS4ISORBean"/>
    <add key="SubjectDirectory.InfoklientService.WS4ISORService.Username" value="isrisk"/>
    <add key="SubjectDirectory.InfoklientService.WS4ISORService.Password" value="*"/>
    <add key="SubjectDirectory.TIF.ConfigFile" value="c:\Program Files\tif\TCFN\MSL\TEST\TEST\conf\ifconfig.xml"/>
    <add key="SubjectDirectory.TIF.Invocation.PartyGetListSearch.System" value="MSL"/>
    <add key="SubjectDirectory.TIF.Invocation.PartyGetListSearch.App" value="CUS_PartyGetListSearch"/>
    <add key="SubjectDirectory.TIF.Invocation.PartyGetListSearch.Version" value="001"/>
    <add key="SubjectDirectory.TIF.Invocation.GetPrivatePartyDetail.System" value="MSL"/>
    <add key="SubjectDirectory.TIF.Invocation.GetPrivatePartyDetail.App" value="CUS_GetPrivatePartyDetail"/>
    <add key="SubjectDirectory.TIF.Invocation.GetPrivatePartyDetail.Version" value="001"/>
    <add key="SubjectDirectory.TIF.Invocation.GetCommercialPartyDetail.System" value="MSL"/>
    <add key="SubjectDirectory.TIF.Invocation.GetCommercialPartyDetail.App" value="CUS_GetCommercialPartyDetail"/>
    <add key="SubjectDirectory.TIF.Invocation.GetCommercialPartyDetail.Version" value="001"/>
    <add key="SubjectDirectory.TIF.Invocation.PartyIdentifierUploadOnline.System" value="MSL"/>
    <add key="SubjectDirectory.TIF.Invocation.PartyIdentifierUploadOnline.App" value="CUS_PartyIdentifierUploadOnline"/>
    <add key="SubjectDirectory.TIF.Invocation.PartyIdentifierUploadOnline.Version" value="001"/>
    <add key="SubjectDirectory.TIF.Invocation.PartyRelationGetDetailedList.System" value="MSL"/>
    <add key="SubjectDirectory.TIF.Invocation.PartyRelationGetDetailedList.App" value="CUS_PartyRelationGetDetailedList"/>
    <add key="SubjectDirectory.TIF.Invocation.PartyRelationGetDetailedList.Version" value="101"/>
    <add key="SubjectDirectory.EsskService.Service.Url" value="http://localhost/WS4SD/Service.asmx"/>
    <add key="LogFile" value="c:\_ISOR\isor-0-DEV\_LOG\SubjectDirectoryWS.log"/>
  </appSettings>
  <connectionStrings>
    <add name="SubjectDirectory.ConnectionString" connectionString="Data Source=DEVDEV;user id=SUBJECTDIRECTORY_APU;password=ISOR" providerName="Oracle.DataAccess.Client"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
		<customErrors mode="Off"/>


    <compilation debug="true" targetFramework="4.6.2"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <webServices>
      <soapExtensionImporterTypes>
        <add type="Microsoft.Web.Services3.Description.WseExtensionImporter, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </soapExtensionImporterTypes>
      <soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </webServices>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <transactionHandlingSettings xmlns="Framework.Transactions">
    <transactionHandler name="HomeGrown" handlerType="Framework.TransactionHandling.HomeGrownTransactionHandler, Framework"/>
  </transactionHandlingSettings>
</configuration>