<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ServiceInstanceName" value="ISOR CBLWinService DEV"/>
    <add key="ConnString" value="Data Source=DEVDEV;User ID=ESSRCB;Password=ISOR;Max Pool Size=5;Connection Lifetime=600"/>
    <add key="LogFilePath" value="c:\_ISOR\isor-0-DEV\_LOG\CBLWinService.log"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>
