<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnString_ESSRCB" connectionString="Data Source=DEVDEV;User ID=ESSRCB;Password=ISOR;Unicode=True" providerName="Oracle" />
  </connectionStrings>
  <appSettings>
		<add key="ServiceInstanceName" value="ISOR SendMailService DEV"/>
    <add key="WinServiceDelay" value="1"/>
    <add key="SendAttemptsCnt" value="1"/>
    <add key="SendAttemptDelay" value="600"/>
    <add key="MaxMailsToSend" value="20"/>
    <add key="Logging" value="1"/>
    <add key="LogFilePath" value="c:\_ISOR\isor-0-DEV\_LOG\SendMail_WinService.log" />
    <add key="MailSenderAddress" value="administrator@isor4.dev.cz"/>
    <add key="MailService_Url" value="http://isor4-test:8110/WsMailService/MailService.asmx" />
    <add key="MailService_Username" value="x"/>
    <add key="MailService_Password" value="x"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
